[Desktop Entry]
Version=1.0
Type=Application
Exec=lux -c
Icon=accessories-system-cleaner
StartupNotify=true
Terminal=false
Categories=XFCE;GTK;Settings;System;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
OnlyShowIn=XFCE;
Name=Clean Package Cache
Comment=Removes downloaded packages from the temporary cache

