[Desktop Entry]
Version=1.0
Type=Application
Exec=spm -Mu
Icon=system-software-install
StartupNotify=true
Terminal=false
Categories=XFCE;GTK;Settings;System;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
OnlyShowIn=XFCE;
Name=Software Install
Comment=Install packages

