[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-CommandsWithParameter=windows-browser "%s"
Icon=wine
Name=windows-browser
X-XFCE-Commands=windows-browser

